.cat {
    display: inline-block;
    
}
    .cat > .cat-animation {
        display: inline-block;
        width: 200px;
        height: 259px;
        background-color: rgb(255, 255, 255);
        margin-top: 30px;
        animation-name: scrolling;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        background-image: url(../img/cat.png);
        background-repeat: contain;
    }

    .cat > .cat-animation:hover {
        animation-play-state: paused;
    }

@keyframes scrolling {
    0% {
        margin-top: 30px;
        background-color: #ffff;
        opacity: 1;
    }
    70% {
        margin-top: 190px;
        background-color: #ffff; 
        opacity: 1;
        transform: rotate(0);
    }

    80% {
        margin-top: 190px;
        background-color: #fff0;
        opacity: 0;
        transform: rotate(-360deg);

    }